server {
    listen ${NGINX_PORT};
    server_name ${NGINX_HOST};
    location / {
        index index.html index.htm index.php;
        root /var/www/html/site;
    }

    location ~ \.php$ {
        fastcgi_pass phpfpm:9000;
        fastcgi_param SCRIPT_FILENAME /var/www/html/site$fastcgi_script_name;
        fastcgi_index index.php;
        include fastcgi_params;
    }
}